<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<nav class="nav nav-pills nav-justified">
    <a class="nav-link" th:href="@{/list}">食品</a>
    <a class="nav-link" th:href="@{/dailylistd}">日用品</a>
    <a class="nav-link" th:href="@{/emergency}">防災備蓄</a>
    <a class="nav-link active" aria-current="page" >登録</a>
</nav>
<br>
<form>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault">
            <label onclick="location.href='food_reg'">食品</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault">
            <label onclick="location.href='daily_reg'">日用品</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault">
            <label onclick="location.th:href='emergency_reg'">防災備蓄</label>
        </div>
    </div>
</form>

<br>
<!--<h3>ストック管理アプリケーション</h3>-->
<div class="food_reg" id="reg">
  <thead>
    <script type="text/javascript">
           window.onload = function() {
                 document.getElementById('strage_subtype').style.display="none";
                            }
                 function selectType() {
                            let id = document.getElementById('strage_type').value;

                            if(id=='常温'){
                                        document.getElementById('strage_subtype').style.display="";
                             }else{
                                        document.getElementById('strage_subtype').style.display="none";
                             }
                 }
    </script>
  </thead>
    <h4>食品ストックの登録</h4>
    <form action="/add">
        <table class=" ">
            <table>
                 <tr>
                    <th><label>ストック名</label></th>
                    <td><input name="stock" class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <th><label>買い物メモ</label></th>
                    <td><input name="memo" class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <th><label>個数</label></th>
                    <td><input name="qty" class="form-control" type="number" min="0" max="25" value="" /></td>
                </tr>
                <tr>
                    <th><label>保管種別</label></th>
                    <td>
                      <div>
                        <select id="strage_type" class="form-control" name="type" onchange="selectType()">
                            <option>    </option>
                            <option value="冷凍">冷凍</option>
                            <option value="冷蔵">冷蔵</option>
                            <option value="常温">常温</option>
                        </select>
                      </div>
                            <div>
                                <select id="strage_subtype" class="form-control" name="subtype">
                                    <option>    </option>id
                                    <option>野菜</option>
                                    <option>ソース・素</option>
                                    <option>菓子</option>
                                </select>
                            </div>
                    </td>
                </tr>
                <tr>
                    <th><label>使用可否</label></th>
                    <td>
                        <select id="strage_uby" class="form-control" name="uby">
                            <option>    </option>
                            <option>可</option>
                            <option>不可</option>
                        </select>
                    </td>
            </table><br>
            <button type="submit" class="btn btn-primary" id="add_buttom"
                    onclick="action='/add'; submit();">登録</button>
            <!--  <input type="submit" value="登録" />-->
        </table>
    </form>
</div>
<br><br>
<div class="daily_reg" id="d_reg">
    <h4>日用品ストックの登録</h4>
    <form action="/dailyadd">
        <table class=" ">
            <table>
                <tr>
                    <th><label>ストック名</label></th>
                    <td><input name="daily" class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <th><label>買い物メモ</label></th>
                    <td><input name="memo" class="form-control" type="text" /></td>
                </tr>
                <tr>
                    <th><label>個数</label></th>
                    <td><input name="qty" class="form-control" type="number" min="0" max="25" value="" /></td>
                </tr>
                <tr>
                    <th><label>保管種別</label></th>
                    <td>
                        <select id="strage_dailytype" class="form-control" name="type">
                            <option>    </option>
                            <option>洗剤</option>
                            <option>紙類</option>
                            <option>その他</option>
                        </select>
                    </td>
                </tr>
            </table><br>
            <button type="submit" class="btn btn-primary" id="dailyadd_buttom"
                    onclick="action='/dailyadd' location.th:href='@{/daily}'; submit();">登録</button>
        </table>
    </form>
</div><br><br>

<!--<div class="dailylist">-->
<!--    <h4>日用品ストック一覧</h4>-->
<!--    <table class="table table-striped" id="daily">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>ストック</th>-->
<!--            <th>メモ</th>-->
<!--            <th>個数</th>-->
<!--            <th>保管種別</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="daily : ${dailyList}">-->
<!--            <form>-->
<!--                <td width="80px">-->
<!--                    <span th:text="${daily.id}" />-->
<!--                    <input type="hidden" name="id" th:value="${daily.id}" />-->
<!--                </td>-->
<!--                <td width="150px">-->
<!--                    <span th:text="${daily.daily}" />-->
<!--                    <input type="hidden" name="daily" th:value="${daily.daily}" />-->
<!--                </td>-->
<!--                <td width="120px">-->
<!--                    <input name="memo" class="form-control" type="text" th:value="${daily.memo}" />-->
<!--                </td>-->
<!--                <td width="80px">-->
<!--                    <input class="form-control" id="update_qty" name="qty" type="number" min="0" max="25" th:value="${daily.qty}" />-->
<!--                </td>-->
<!--                <td width="80px">-->
<!--                    <span th:text="${daily.type}" />-->
<!--                    <input type="hidden" name="type" th:value="${daily.type}" />-->
<!--                </td>-->
<!--                <td width="100px">-->
<!--                    <button type="submit" class="btn btn-primary" id="update_buttom"-->
<!--                            onclick="action='/update'; submit();">変更</button>-->
<!--                    <button type="submit" class="btn btn-primary" id="delete_buttom"-->
<!--                            onclick="action='/delete'; submit();">削除</button>-->
<!--                </td>-->
<!--            </form>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
</body>
</html>