<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Tab test page</title>
  <link href="/static/tab_style.css" rel="stylesheet" />
</head>
<html>
<!--タブ-->
<ul class="tab-group">
  <li class="tab is-active">食品</li>
  <li class="tab">日用品</li>
  <li class="tab">防災備蓄</li>
  <li class="tab">登録</li>

</ul>

<!--タブを切り替えて表示するコンテンツ-->
<div class="panel-group">
  <div class="panel is-show">食品ストック一覧</div>
  <div class="panel">日用品ストック一覧</div>
  <div class="panel">防災備蓄ストック一覧</div>
  <div class="panel">登録</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
<script>
jQuery(function($){
	$('.tab').click(function(){
		$('.is-active').removeClass('is-active');
		$(this).addClass('is-active');
		$('.is-show').removeClass('is-show');
        // クリックしたタブからインデックス番号を取得
		const index = $(this).index();
        // クリックしたタブと同じインデックス番号をもつコンテンツを表示
		$('.panel').eq(index).addClass('is-show');
	});
});
</script>
</html>



